Stephen Munene

munesteve@gmail.com

0712291940


Airlines assignment

In [17]:
import pandas as pd

flight_data = pd.read_csv('https://modkenya.com/datascience_sat/datasets/AirlinesCluster.csv')

Explore the data

In [18]:
flight_data.head()

,Balance,QualMiles,BonusMiles,BonusTrans,FlightMiles,FlightTrans,DaysSinceEnroll
0,28143,0,174,1,0,0,7000
1,19244,0,215,2,0,0,6968
2,41354,0,4123,4,0,0,7034
3,14776,0,500,1,0,0,6952
4,97752,0,43300,26,2077,4,6935

In [19]:
flight_data.describe()

,Balance,QualMiles,BonusMiles,BonusTrans,FlightMiles,FlightTrans,DaysSinceEnroll
count,3.999000e+03,3999.000000,3999.000000,3999.00000,3999.000000,3999.000000,3999.00000
mean,7.360133e+04,144.114529,17144.846212,11.60190,460.055764,1.373593,4118.55939
std,1.007757e+05,773.663804,24150.967826,9.60381,1400.209171,3.793172,2065.13454
min,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,2.00000
25%,1.852750e+04,0.000000,1250.000000,3.00000,0.000000,0.000000,2330.00000
50%,4.309700e+04,0.000000,7171.000000,12.00000,0.000000,0.000000,4096.00000
75%,9.240400e+04,0.000000,23800.500000,17.00000,311.000000,1.000000,5790.50000
max,1.704838e+06,11148.000000,263685.000000,86.00000,30817.000000,53.000000,8296.00000

In [20]:
flight_data.corr()

,Balance,QualMiles,BonusMiles,BonusTrans,FlightMiles,FlightTrans,DaysSinceEnroll
Balance,1.000000,0.108722,0.403487,0.324935,0.217551,0.255700,0.263129
QualMiles,0.108722,1.000000,0.031021,0.050725,0.126774,0.144004,0.017312
BonusMiles,0.403487,0.031021,1.000000,0.603180,0.183536,0.185261,0.210397
BonusTrans,0.324935,0.050725,0.603180,1.000000,0.377216,0.432364,0.161262
FlightMiles,0.217551,0.126774,0.183536,0.377216,1.000000,0.869193,0.037271
FlightTrans,0.255700,0.144004,0.185261,0.432364,0.869193,1.000000,0.059260
DaysSinceEnroll,0.263129,0.017312,0.210397,0.161262,0.037271,0.059260,1.000000

In [21]:
#subset with the required data
#flight_subset = flight_data[['FlightMiles','FlightTrans','DaysSinceEnroll']]
flight_subset = flight_data.loc[:,('FlightMiles','FlightTrans','DaysSinceEnroll')]
flight_subset.head()

   FlightMiles  FlightTrans  DaysSinceEnroll
0            0            0             7000
1            0            0             6968
2            0            0             7034
3            0            0             6952
4         2077            4             6935

In [22]:
# Add the values to Input X
flight_array = flight_subset.values
X = flight_array[:,:3]
#import from sklearn
from sklearn.cluster import KMeans
model = KMeans(n_clusters=10,random_state=42)
#Fit the ailines data into the model
model.fit(X)

KMeans(n_clusters=10, random_state=42)

In [23]:
#Store the cluster centers
flight_means = model.cluster_centers_

#Data frame with the cluster centers and appropriate columns
flight_clusters = pd.DataFrame(flight_means,columns=['FlightMiles','FlightTrans','DaysSinceEnroll'])

flight_clusters

    FlightMiles  FlightTrans  DaysSinceEnroll
0    132.860553     0.496231      5857.945980
1    136.331606     0.515544      2738.797927
2   6282.900000    16.375000      6274.150000
3    193.024554     0.712054      7473.415179
4    167.461451     0.614512      4266.880952
5  26458.500000    49.000000      2602.000000
6  10834.681818    23.272727      3316.772727
7   2357.012903     7.496774      5973.309677
8   3348.550000     8.875000      2509.850000
9    111.316273     0.455381      1345.379265

In [24]:
#Add lables from the model to the subset
flight_subset['label'] = model.labels_
flight_subset.head()

   FlightMiles  FlightTrans  DaysSinceEnroll  label
0            0            0             7000      3
1            0            0             6968      3
2            0            0             7034      3
3            0            0             6952      3
4         2077            4             6935      7

In [25]:
#Proceed to view data from whichever label
flight_view = flight_subset[flight_subset['label']==7]
flight_view

      FlightMiles  FlightTrans  DaysSinceEnroll  label
4            2077            4             6935      7
8            3850           12             6948      7
21           1800            9             6896      7
22           3450           11             6884      7
35           2500            5             7865      7
...           ...          ...              ...    ...
2009         1800            4             4537      7
2021         2500            5             4440      7
2049         1850           11             4608      7
2094         2000            4             4245      7
2162         2197            4             4190      7

[155 rows x 4 columns]